<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
        <add name="conString" connectionString="Data Source=DESKTOP-99N7EQ6;Initial Catalog=BloodBank;Integrated Security=True"/>
    </connectionStrings>
    <!-- -->
    <!-- <appSettings> -->
    <!--     <add key="parentSelect" value="SELECT * FROM Donors"/> -->
    <!--     <add key="select" value="SELECT * FROM Donations"/> -->
    <!-- -->
    <!--     <add key="update" value="UPDATE Donations SET DonorId=@DonorId, DonationDate=@DonationDate WHERE DonationId = @id"/> -->
    <!-- -->
    <!--     <add key="parentTableName" value="Donors"/> -->
    <!--     <add key="tableName" value="Donations"/> -->
    <!-- -->
    <!--     <add key="parentTableId" value="DonorId"/> -->
    <!--     <add key="tableId" value="DonationId"/> -->
    <!-- -->
    <!--     <add key="columnNames" value="DonorId,DonationDate"/> -->
    <!--     <add key="columnNamesInsertParameters" value="@DonorId,@DonationDate"/> -->
    <!-- </appSettings> -->


    <appSettings>
        <add key="parentSelect" value="SELECT * FROM Donations"/>
        <add key="select" value="SELECT * FROM Blood"/>
    
        <add key="update" value="UPDATE Blood SET DonationId=@DonationId, BloodAmount=@BloodAmount, BloodType=@BloodType WHERE BloodId = @id"/>
    
        <add key="parentTableName" value="Donations"/>
        <add key="tableName" value="Blood"/>
    
        <add key="parentTableId" value="DonationId"/>
        <add key="tableId" value="BloodId"/>
    
        <add key="columnNames" value="DonationId,BloodAmount,BloodType"/>
        <add key="columnNamesInsertParameters" value="@DonationId,@BloodAmount,@BloodType"/>
    </appSettings>
</configuration>