<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionString>
        <add name="conString" connectionString="Data Source=DESKTOP-99N7EQ6;Initial Catalog=BloodBank;Integrated Security=True"/>
    </connectionString>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <appSettings>
        <add key="parentSelect" value="SELECT * FROM Donors"/>
        <add key="ParentTableName" value="Donors"/>
        
    </appSettings>
</configuration>